{% extends 'base.html.twig' %}
{% form_theme form 'form/fields.html.twig' %}

{% block title %}{{ 'newArticle-title'|trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}" />
{% endblock %}


{% block body %}
    <div class="columns">
        <div class="column col-6 col-mx-auto col-sm-12">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
